# fly.toml app configuration file generated for campus-vault-backend on 2025-11-21T09:06:57Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'campus-vault-backend'
primary_region = 'jnb'

[build]

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
